<p>
  <strong>Coupe carriage</strong>
  <%= @carriage.number %>

  <strong>Top seats count:</strong>
  <%= @carriage.top_seats %>

  <strong>Bottom seats count:</strong>
  <%= @carriage.bottom_seats %>
</p>